language: ruby
rvm:
  - 2.0.0
before_script:
  - psql -c 'create database rails_base_test;' -U postgres
script: 
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/