# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: Use `rails secret` to generate a new key base
  redis_url: redis://redis:6379/0/cache
  stripe_secret_key: sk_test_xxx
  stripe_publishable_key: pk_test_xxx
  auth0_client_id: xxx
  auth0_client_secret: xxx
  auth0_client_domain: xxx.auth0.com
  heap_app_id:
  rollbar_post_client_item_access_token:

# test, staging, production should be kept in secrets.yml.enc!
# use `rails secret:setup` to start

# The encrypted secrets will probably look something like this:

# test:
#   secret_key_base: 657e6ff49362d5194d5ffad0c12bfa8513e5fa6c09a0e15e42ab6542aae69beb6b558f0b2fabe228c10a1b2c996b2656384013605678fdd7736ce9b11a89db72
#   redis_url: redis://redis:6379/0/cache
#   stripe_secret_key: sk_test_wW3Yyhf46TZSE0PnRfO0CEnT
#   stripe_publishable_key: pk_test_VcppBcaS7siwW3EbEI5gMwp2
#   auth0_client_id: vGQVzX3mHocmQfhrrkxmsEEb39712IAP
#   auth0_client_secret: SwaS-1l9GIMOaV-TXsTGgfeg7zT3eiTtj-_JRybdqQCA_jrL5Ak92dQ1GEqoUmbV
#   auth0_client_domain: sengming-test.auth0.com
#   heap_app_id:
#   rollbar_post_client_item_access_token:
# staging:
#   secret_key_base: 657e6ff49362d5194d5ffad0c12bfa8513e5fa6c09a0e15e42ab6542aae69beb6b558f0b2fabe228c10a1b2c996b2656384013605678fdd7736ce9b11a89db72
#   redis_url: redis://redis:6379/0/cache
#   stripe_secret_key: sk_test_wW3Yyhf46TZSE0PnRfO0CEnT
#   stripe_publishable_key: pk_test_VcppBcaS7siwW3EbEI5gMwp2
#   auth0_client_id: vGQVzX3mHocmQfhrrkxmsEEb39712IAP
#   auth0_client_secret: SwaS-1l9GIMOaV-TXsTGgfeg7zT3eiTtj-_JRybdqQCA_jrL5Ak92dQ1GEqoUmbV
#   auth0_client_domain: sengming-test.auth0.com
#   heap_app_id:
#   rollbar_post_client_item_access_token:
# production:
#   secret_key_base: 657e6ff49362d5194d5ffad0c12bfa8513e5fa6c09a0e15e42ab6542aae69beb6b558f0b2fabe228c10a1b2c996b2656384013605678fdd7736ce9b11a89db72
#   redis_url: redis://redis:6379/0/cache
#   stripe_secret_key: sk_test_wW3Yyhf46TZSE0PnRfO0CEnT
#   stripe_publishable_key: pk_test_VcppBcaS7siwW3EbEI5gMwp2
#   auth0_client_id: vGQVzX3mHocmQfhrrkxmsEEb39712IAP
#   auth0_client_secret: SwaS-1l9GIMOaV-TXsTGgfeg7zT3eiTtj-_JRybdqQCA_jrL5Ak92dQ1GEqoUmbV
#   auth0_client_domain: sengming-test.auth0.com
#   heap_app_id:
#   rollbar_post_client_item_access_token:
